<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="5 seconds" debug="false">
	<property scope="LOG_HOME" resource="config/log4j.properties" />
	<contextName>crazyBird</contextName>
	<jmxConfigurator/>
	<!-- direct log messages to stdout -->
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<Target>System.out</Target>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%t] %highlight(%-5p) %green(|-%c{35}:%L) %white - %m %n</pattern>
		</encoder>
	</appender>

	<appender name="ALL" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.loggingRoot}/circle-service.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${log.loggingRoot}/%d{yyyy-MM,aux}/circle-service.log.%d.%i.gz</FileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
					class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>1024MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>10</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss}[%t]%-5p %c{36}.%M\(%L\) %m%n</pattern>
		</encoder>
	</appender>

	<appender name="REST" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.loggingRoot}/circle-rest.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${log.loggingRoot}/%d{yyyy-MM,aux}/circle-rest.log.%d.%i.gz</FileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
					class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>1024MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>10</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss}[%t]%-5p %c{36}.%M\(%L\) %m%n</pattern>
		</encoder>
	</appender>
	
	<appender name="ASYNCConsole" class="ch.qos.logback.classic.AsyncAppender">
		<includeCallerData>true</includeCallerData>
		<appender-ref ref="stdout"/>
	</appender>
	
	<!-- 定义Spring日志 -->
	<logger name="org.springframework" level="${log.loggingLevel.all}" additivity="false">
		<appender-ref ref="ALL" />
	</logger>
	
	<logger name="com.crazyBird" level="${log.loggingLevel.all}" additivity="false">  
		<appender-ref ref="ALL" />  
	</logger> 
	
	<logger name="com.crazyBird.dao" level="DEBUG"/>

	<!-- 定义rest日志 -->
	<logger name="rest" level="${log.loggingLevel.rest}" additivity="false">
		<appender-ref ref="REST" />
	</logger>
	
	<root level="${log.loggingLevel.all}">
		<appender-ref ref="ALL"/>
	</root>
</configuration>
